body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Roboto", arial;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
}

/* Navbar Part */

.navbar {
  display: flex;
  background-color: #1f2937;
  padding: 20px 100px 20px 100px;
  align-items: center;
  flex: auto;
  justify-content: space-between;
}

.header-logo img {
  width: 84px;
  height: 84px;
  /* margin-right: auto; */
}

.header-menu {
  display: flex;
  /* flex: 1; */
  /* margin-left: auto; */
  /* padding: 0px 100px 0px 0px; */
}

.header-menu a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  padding: 10px;
  font-family: "Roboto", arial;
}

.header-menu a:hover {
  color: #2678a7;
  transition: 0.3s;
}

/*profile part*/

.profile {
  flex: auto;
  display: flex;
  color: #f9faf8;
  background-color: #1f2937;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px 20px 80px;
}

.profile-text {
  /* flex-basis: 400px; */
  display: flex;
  flex-direction: column;
  /* margin-right: auto; */
  text-align: left;
  margin-right: 50px;
}

.profile-text p {
  font-family: "Roboto", arial;
  opacity: 0.7;
}

.profile-text h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  margin: 0;
  font-family: "Roboto", arial;
}

.profile-text button {
  /* align-items: center; */
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
  width: 110px;
  border: none;
  background: #3882f6;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  font-family: "Roboto", arial;
  text-decoration: none;
  font-weight: bold;
}

.profile-image img {
  width: 500px;
  height: 350px;
  border-radius: 5%;
}

/* content section */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px 50px 100px;
  background-color: #f3f4f6;
}

.content-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 100px 50px 100px;
  background-color: #f3f4f6;
}

.content-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid #3882f6;
  border-radius: 15px;
  margin: 5px 20px 0px 20px;
}

/* quote section */

.quote {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 50px 100px 50px 100px;
  background-color: #e5e7eb;
  padding: 0 200px;
}

.quote p {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  font-family: "Roboto", arial;
  color: #1f2937;
  font-style: italic;
  /* font-weight: lighter; */
  font-family: "Roboto", arial;
}

.quote b {
  font-size: 36px;
  padding-bottom: 20px;
  padding-right: 10px;
  font-family: "Roboto", arial;
  color: #1f2937;
  text-align: right;
}

/* sign-up section */

.sign-up {
  background-color: #3882f6;
  margin: 50px 200px;
  padding: 10px 80px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border-color: none;
}

.sign-up .sign-up-text {
  color: #093141;
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto", arial;
  margin-right: 50px;
  flex: 1;
}

.sign-up button {
  margin-left: auto;
  text-align: center;
  background: #093141;
  color: #fff;
  font-family: "Roboto", arial;
  flex: 1;
  font-weight: bold;
}

/* footer section */

.footer {
  display: flex;
  background-color: #15a83a;
  padding: 20px 100px 20px 100px;
  align-items: center;
  justify-content: center;
  color: #e5e7eb;
}
